.page-container {
    &.login-mobile-page {
        background-color: #FFFFFF;
        height: 100%;

        .login-header {
            p{
                opacity: 1;
                color: #002855;	
                font-size: 16px;	
                line-height: 21px;
                margin-top: 0;
            }
            .main-title {
                width: 100%;
                font-size: 30px;	
                line-height: 39px;
            }
        }

        .remember-login-wrapper {
            display: flex;
            align-items: center;
            position: relative;
        }

        .utilities-login {
            justify-content: flex-start;

            a {
                color: #002855;
                padding: 3px;
            }
        }

        .access-problem-container {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
    }
}

@import 'components/Login-Form/login-form.scss';