.page-container {
    &.login-mobile-page {
        background-color: $background-mobile-color;
        height: 100%;

        .login-header {
            p{
                opacity: 1;
                color: $accent-color;	
                font-size: 16px;	
                line-height: 21px;
                margin-top: 0;
            }
            .main-title {
                width: 100%;
                font-size: 30px;	
                line-height: 39px;
            }
        }

        .remember-login-wrapper {
            display: flex;
            align-items: center;
            width: 100%;
        }

        .utilities-login {
            justify-content: flex-start;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            div {
                padding: 5px 3px;
            }

            a {
                color: $accent-color;
                padding: 3px;
                padding: 5px 3px;
            }
        }

        .access-problem-container {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
    }
}

@import '../../components/Login-Form/login-form.scss';
