.message__box {
    position: fixed;
    //valutare le distanze e dimensioni !!!ß
    right: 16px;
    top: 80px;
}

.message {
    //valutare le distanze e dimensioni !!!
    height: 15vh;
    width: 30vw;
    border-radius: 4px;
    background-color: $background-mobile-color;
    box-shadow: 0 4px 12px 6px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    padding: 16px;
    margin-bottom: 15px;

    &__body {
        width: 100%;

        &__icon {
            margin-right: 16px;

            img {
                width: 40px;
                height: auto;
            }
        }

        &__text-container {
            align-items: flex-start;
            justify-content: center;

            p {
                margin: 0;
                &.description {
                    color: #A1A1A5;		
                    font-size: 14px;	
                    line-height: 19px;
                }

            }
        }

        .close:after, .close:before {
            right: 28px;
            border: 1px solid #D7D7D7;
        }
    }

    &.green {
        border-left: 4px solid #88BD87;
    }

    &.red {
        border-left: 4px solid #E30322;
    }

    &.yellow {
        border-left: 4px solid #F4B200;
    }

}