.footer-menu-container {
    background-color: #FFF;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 4px 12px 6px rgba(0, 0, 0, .06);
    position: fixed;
    bottom: 0;
    padding: 0 10px;
    //padding-bottom: 10px;
    
    /* iOS 11 */
    padding-bottom: constant(safe-area-inset-bottom);
    

    /* iOS 11.2+ */
    padding-bottom: env(safe-area-inset-bottom);

    .menu-btn {

        height: 60px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        text-align: center;
        padding: 8px 0;
        box-sizing: border-box;

        span.icon-Situation::before,
        span.icon-Request::before {
            font-size: 26px;
        }

        &:active {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
    }

    .menu-btn.active {
        color: #007AFF;
    }

    p {
        font-size: 10px;
        margin: 0;
        text-align: center;
    }

    .menu-icon {
        height: 25px;
        width: 25px;

        path {
            fill: #666666;

        }
    }
}