.footer-menu-container {
    background-color: #FFF;    
    width: 100%;
    box-sizing: border-box;
    padding: 10px;

    p {
        font-size: 10px;
    }

    .menu-icon {
        height: auto;
        width: 30px;
    }
}