.login-form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .login-form-content {
        min-height: 500px;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 4px 12px 6px rgba(0, 0, 0, .06);
        flex-direction: column;

        @media screen and (min-width: 912px) {
            min-width: 400px;
            max-width: 500px;
        }


        .login-form-content-wrapper {
            height: 100%;
            width: 100%;
            padding: 24px;
            box-sizing: border-box;

            .login-header {

                h3 {
                    //width: 65%;
                    // @media screen and (max-width: 320px) {
                    //     width: 100%;
                    // }
                }
            }
        }
    }

    .registration-container {
        color: #002855;
        opacity: 0.9;
        padding-top: 10px;

        a:link {
            color: #002855;
        }
    }
}

@media (max-width:912px) and (min-width:450px) {
    .button-request {
        max-width: 300px;
    }
}

@media screen and (max-width: 912px) {
    .login-form-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        min-width: 100%;
    }

    .login-form-content-wrapper {
        height: 100%;
    }

    .request-container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}


.form-container {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    padding-bottom: 20px;
    box-sizing: border-box;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;

        .request-container {
            width: 80%;
            display: flex;
            align-items: flex-end;
            flex: 1;
        }
    }
}



.utilities-login {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // flex: 2;

    input[type=checkbox] {
        // da guardare per modificare lo style!!  
        position: absolute;
        opacity: 0;

        &+label {
            position: relative;
            cursor: pointer;
            padding: 0;
        }

        &+label::before {
            content: '';
            margin-right: 10px;
            display: inline-block;
            vertical-align: text-top;
            background-color: #FFFFFF;
            width: 20px;
            height: 20px;
            border: 2px solid #0063CC;
            border-radius: 2px;

        }

        // Box focus
        &:focus+label:before {
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
        }

        // Checkmark
        &:checked+label:after {
            content: "";
            position: absolute;
            left: 7px;
            top: 1px;
            width: 9px;
            height: 15px;
            border-right: 2px solid #0063cc;
            border-bottom: 2px solid #0063cc;
            transform: rotate(45deg);
        }
    }

    a {
        color: #002855;
        padding: 3px;
    }


}