

.modal-wrapper {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
}

.modal {
    //display: none; /* Hidden by default */
    position: relative; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 20px; /* Location of the box */
    width: 100%;
    height: calc(100% - 40px);
    overflow: auto; /* Enable scroll if needed */
    background-color: $background-mobile-color;

    
    
    @media screen and (min-width: 900px) {
        width: auto;
        height: auto;
        min-width: 100px;
        min-height: 100px;
        max-height: 80vh;
        max-width: 80vw;
    }

    &__body {
        height: 96%;
        justify-content: space-between;
        padding-bottom: 50px;
        box-sizing: border-box;
    }

    &__header {
        position: relative;
    }

    &__subtitle {
        opacity: 0.6;	
        color: $accent-color;	
        font-size: 14px;	
        line-height: 19px;
        margin-bottom: 0;
    }
    .main-title {
        margin: 0;
    }
    p.description {
        font-size: 14px;
    }
}



@import '../../components/Alert/alert.scss';
@import '../../components/Switch/switch.scss';
@import '../../components/Box-Highlight/box-highlight.scss';
