.pratica-container {
    flex: 11;
    align-items: flex-start;
    width: 100%;

    .title-info {
        display: flex;
        padding: 0 10px;
        position: relative;
        flex: 1;

        h3::before {
            content: '';
            position: absolute;
            left: 0;
            height: 24px;
            width: 4px;
            border-radius: 2px;
            background-color: #007DC5;
            position: absolute;
        }
    }

    .pratica-main {
        width: 100%;
        height: 100%;
        position: relative;
        flex: 1.5;
        display: flex;

        .card-pratica {
            position: relative;
            // height: ;
            width: 90%;
            align-items: flex-start;
            box-sizing: border-box;
            padding: 20px 30px;
            background-color: #FFFFFF;
            box-shadow: 0 4px 12px 6px rgba(0, 0, 0, 0.06);

            .pratica-body-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
            }
        }

        .info-pratica {
            justify-content: space-between;
            width: 100%;
            flex: 1;

            .alert-container {
                display: flex;
                justify-items: flex-start;
                align-items: center;
                opacity: 0;
            }

            img {
                padding: 5px;
            }

            p#update-date {
                opacity: 0.7;
                font-size: 12px;
            }
        }

        .data-container {
            flex: 1;

        }

        &.alert {
            .card-pratica {
                border: 2px solid #F6B400;
            }

            .alert-container {
                opacity: 1;
            }
        }

        @media only screen and (max-width: 600px) {
            justify-content: center;
        }
    }
}

.card-summary {
    background-color: #0063CC;
    border-radius: 21.12px;
    color: #FFFFFF;
    box-sizing: border-box;
    position: relative;
    padding: 10px 20px 100px;

    &.desktop-only {
        position: absolute;
        right: 0;
        top: -40px;
        height: 80%;
        width: 30%;

    }

    .summary {
        flex: 1;
        width: 100%;
        padding-bottom: 15px;

        .row-start {
            justify-content: space-between;
        }

        .row {
            width: 100%;
        }
    }

    .main-import-container {
        width: 100%;
        flex: 2;
        position: relative;

        p#main-import {
            font-size: 48px;
            font-weight: 600;

            &::after {
                content: "€";
                position: absolute;
                top: -10px;
                font-size: 38px;
            }
        }
    }

    .loan-info-container {
        background-color: #FFFFFF;
        width: 90%;
        color: #4148A7;
        min-height: 25%;
        box-shadow: 0 4px 12px 6px rgba(0, 0, 0, .06);
        position: absolute;
        bottom: 15px;

        .data-loan {
            flex: 1;

            h5 {
                margin: 0 0 5px 0;
            }

            p {
                font-size: 16.9px;
                font-weight: bold;
                line-height: 12px;
            }
        }

        .line {
            box-sizing: border-box;
            height: 25px;
            width: 1px;
            border: 1px solid #F1F1F1;
        }
    }

    p {
        margin: 4px;

        &.description {
            font-size: 14px;
            line-height: 12px;
            font-weight: 100;
            margin-top: 0;
            padding-bottom: 5px;
        }

        &.card-title {
            font-size: 24px;
        }
    }

    &.mobile-only {
        width: 90%;
    }
}

.pratica-body-container {
    width: 80%;
    align-items: flex-start;
    flex: 4;

    @media only screen and (max-width: 600px) {
        width: 90%;
        font-size: 14px;

        .data-container {
            align-items: flex-start;
        }
    }
}

.details-container {
    flex: 4;
    width: 90%;
    margin-top: 10px;

    .tab-menu {
        width: 100%;
        height: 50px;
        border-radius: 6px;
        justify-content: space-around;

        .data-btn {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90%;
            box-sizing: border-box;
            margin: 5px;
            border-radius: 6px;
            text-align: center;
            font-size: 12px;
            line-height: 16px;

            &.active {
                font-weight: bold;
                background-color: #0063CC;
                color: #FFFFFF;

            }
        }
    }
}

.alert-box {
    display: none;

    &.alert {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 2px solid #F6B400;
        border-radius: 8px;
        margin: 10px;
        box-sizing: border-box;
        padding: 10px;

        img {
            height: auto;
            width: 1.5em;
            padding-right: 5px;
        }

        div.row {
            justify-content: flex-end;
        }

        p,
        a {
            font-size: 14px;
            margin: 0;

            &.title {
                font-weight: bold;
                line-height: 18px;
            }
        }

        a {
            color: #0061D3;
        }

    }
}

.update-container {
    img {
        height: auto;
        width: 25px;
        padding: 5px;
    }

    p {
        opacity: 0.7;
        color: #002855;
        font-size: 12px;
        line-height: 16px;
    }
}



.data-euro {
    position: relative;

    &::before {
        content: "€";
        position: absolute;
        left: -50%;
        bottom: 50%;
        font-size: 13px;
    }
}

.data-percentage {
    position: relative;

    &::after {
        content: '%';
        position: absolute;
        right: -35%;
        font-size: 13px;
    }
}