// card singola-CTA
.single-card-container {
    position: relative;
    width: 100%;

    .card-title-container {
        margin-right: 10px;
        p {
            color: #000000;
            font-size: 18px;
            font-weight: bold;
            line-height: 24px;

        }
    }
}

// card singola con immagine-CTA
.single-card-miniature-container {
    position: relative;
    width: 100%;
    margin-bottom: 16px;

    .miniature-container {
        // width: 47%;
        position: relative;

        img {
            //position: absolute;
            height: auto;
            width: 116px;
            border-radius: 8px;
        }
    }

    .card-title-container {
        margin-right: 10px;
        p {
            color: #002855;
            font-size: 16px;
            line-height: 20px;
        }
    }


}

.single-card-icon-container {
    position: relative;
    width: 100%;
    margin-bottom: 16px;
    height: 64px;

    &__body {
        width: 100%;

        .card-icon-container {
            img {
                position: relative;
                top: 4px;
                left: 16px;
                height: 40px;
                width: 40px;

            }
        }

        .card-content {
            padding: 0 16px;
            padding-left: 24px;
        }

        .card-title-container {
            margin-right: 10px;
            p {
                color: #002855;
                font-size: 14px;
                line-height: 24px;
                margin: 0;
            }
        }
    }
}


//commons
.card-content {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}



.divider {
    box-sizing: border-box;
    height: 1px;
    width: 100%;
    border: 1px solid #D7D7D7;
}



//BADGE ICON

.badge {
    display: none;
    position: absolute;
    z-index: 2;
    bottom: 6px;
    opacity: 1;
    left: -12px;

    img {
        position: relative;
    }
}


.is-done {
    .single-card-icon-container__body {
        opacity: 0.5;

    }

    .badge {
        display: block;
    }
}