.custom-select-container {
    position: relative;
    font-family: Arial;
    width: 100%;
    //height: 52px;
    border: 1.5px solid #0063CC;	
    background-color: #FFFFFF;
    border-radius: 5px;	
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    
    .custom-select {
        width: 100%;
        height: 52px;
        box-sizing: border-box;
        padding: 30px;

        .arrow-container {
            img {
                width: 24px;
                height: 24px;
            }
        }

    }
    .option-container {
        border-top: 1.5px solid #0063CC;
        transition: all 0.5s ease-in-out;
        .option {
            width: 100%;
            height: 52px;
            border-bottom: 1px solid #dadada;
            box-sizing: border-box;
            padding: 30px;
            position: relative;
            color: #666666;

            &:before {
                content: '';
                width: 4px;
                border-radius: 2px;
                height: 0px;
                background-color: #007dc5;
                transition: all 0.5s ease-in-out;
                position: absolute;
                left: 5px;
                top: 1;
            }

            &:hover {
                &:before {
                    transition: all 0.5s ease-in-out;
                    height: 50px;
                }
            }

            &.selected {
                background-color: #f1f2f8;
                &:before {
                    height: 50px;
                }
            }
        }

    }

    &.open {
        height: auto;
        transition: all 0.5s ease-in-out;
        .custom-select {
    
            .arrow-container {
                img {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &.closed {
        height: 52px;
        transition: all 0.5s ease-in-out;
    }

}


.custom-select select {
    padding: 5px 8px;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;

}
.custom-select select:focus {
    outline: none;
}