.private-head-container {
    display: flex;
    width: 100%;
    justify-items: start;
    align-items: center;
    background-color: $background-mobile-color;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.04);

    .logo-content {
        margin-left: 60px;
        flex: 1;
    }

    .head-title {
        flex: 4;
        display: flex;
        justify-content: center;
    }

    img {
        // height: 30px;
        padding: 15px;
        max-width: 200px;

        @media only screen and (max-width: 912px) {
        height: 30px;
        padding: 5px;

        }
    }

    .icons-container {
        display: flex;
        justify-content: flex-start;

        img#user {
            height: auto;
            width: 44px;
        }

        @media only screen and (max-width: 600px) {
            position: absolute;
            right: 5px;

            img#bell {
                height: auto;
                width: 25px;
            }

            img#user {
                height: auto;
                width: 35px;
            }
        }

    }

    .legal-info-content {
        display: flex;
        justify-content: space-around;
        margin-right: 16px;
        align-items: flex-start;
        p {
            font-size: 14px;
            color: $accent-color;
            font-family: roboto-bold;
        }
    }

    .user-info-container {
        display: flex;
        padding-right: 33px;
        align-items: center;
    }

    .mobile-only {
        display: none !important;
    }

    .desktop-only {
        display: flex;
    }
}

.mobile-only {
    display: none !important;
}

.desktop-only {
    display: flex;
}

.is-mobile {
    .mobile-only {
        display: flex !important;
    }

    .desktop-only {
        display: none !important;
    }

    .private-head-container {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        flex: 1;
    }
}