.private-head-container {
    display: flex;
    width: 100%;
    justify-items: start;
    align-items: center;
    background-color: $background-mobile-color;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.04);
    position: fixed;
    top: 0;
    z-index: 1;

    /* iOS 11 */
    padding-top: constant(safe-area-inset-top);
    

    /* iOS 11.2+ */
    padding-top: env(safe-area-inset-top);


    .logo-content {
        margin-left: 60px;
        flex: 1;
    }

    .head-title {
        flex: 4;
        display: flex;
        justify-content: center;
    }

    img {
        // height: 30px;
        padding: 5px;
        max-width: 200px;

        @media only screen and (max-width: 912px) {
            height: 30px;
            padding: 5px;

        }
    }

    .icons-container {
        display: flex;
        justify-content: flex-start;

        img#user {
            height: auto;
            width: 44px;
        }

    }

    .legal-info-content {
        display: flex;
        justify-content: space-around;
        margin-right: 16px;
        align-items: flex-start;

        p {
            font-size: 14px;
            color: $accent-color;
            font-family: roboto-bold;
        }
    }

    .user-info-container {
        display: flex;
        padding-right: 33px;
        align-items: center;
    }
}


.is-mobile {

    .head-title {
        display: flex;
        flex: 4;
        justify-content: center;
    }

    .private-head-container {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        position: fixed;
        z-index: 1;


        .icons-container {
            position: absolute;
            right: 5px;

            img#bell {
                height: auto;
                width: 25px;
            }

            img#user {
                height: auto;
                width: 35px;
            }
        }
    }

    .mobile-only {
        display: flex !important;
    }

    .desktop-only {
        display: none !important;
    }
}


.private {
    @media only screen and (max-width: 940px) {

        // max-width: 375px;
        .head-title {
            display: flex;
            flex: 4;
            justify-content: center;
        }

        .private-head-container {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            position: fixed;
            z-index: 1;


            .icons-container {
                position: absolute;
                right: 0px;
    
                .icon-Notification, .icon-Profile {
                    padding: 10px;
                    display: flex;
                    justify-content: center;

                    &:active {
                        -webkit-tap-highlight-color: rgba(0,0,0,0);
                    }
                }
            }
        }

        .mobile-only {
            display: flex !important;
        }

        .desktop-only {
            display: none !important;
        }
    }
}