
.public-head-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-items: start;
    align-items: center;


    @media only screen and (max-width: 912px) {
        position: fixed;
        top: 0;
        z-index: 1;
        background-color: $background-mobile-color;
        padding-top: 30px;
        }
    @media only screen and (max-width: 320px) {
        padding-top: 0;
    }
    .logo-content {
        margin-left: 60px;
        flex: 1;
        @media only screen and (max-width: 912px) {
            margin-left: 20px;
    
            }
    }

    .head-title {
        flex: 4;
        display: flex;
        justify-content: center;
    }

    img {
        // height: 30px;
        padding: 15px;
        max-width: 200px;

        @media only screen and (max-width: 912px) {
        height: 30px;
        padding: 5px;

        }
    }

    .legal-info-content {
        display: flex;
        justify-content: space-around;
        margin-right: 16px;
        align-items: flex-start;
        p {
            font-size: 14px;
            color: $accent-color;
            font-family: roboto-bold;
        }
        .icon-ico_note_legali {
            padding: 10px;
            display: flex;
            justify-content: center;

            &:active {
                -webkit-tap-highlight-color: rgba(0,0,0,0);
            }
        }
    }

    .user-info-container {
        display: flex;
        padding-right: 33px;
        align-items: center;
    }

    .mobile-only {
        display: none !important;
    }

    .desktop-only {
        display: flex;
    }
}



.is-mobile {
    .public-head-container {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        background-color: #FFF;

    }
    .mobile-only {
        display: flex !important;
    }

    .desktop-only {
        display: none !important;
    }
}





.hidden {
    display: none;
}