.side-menu {

    align-items: flex-start;
    padding: 10px 10px 16px;
    flex-direction: column;
    justify-content: space-between;

    .top-menu {
        width: 100%;
        align-items: flex-start;


        .menu-element {
            display: flex;
            align-items: center;
            padding: 5px;

            &.active::before {
                content: "";
                height: 56px;
                width: 4px;
                background-color: #007DC5;
                left: 0;
                position: absolute;
            }
        }
    }

}

.bottom-menu {
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-end;

    .wrapper {
        width: 100%;
        box-sizing: border-box;
        padding: 0 10px;
        justify-content: flex-end;
        align-items: flex-start;

        .button {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
        
            .arrow {
                height: 10px;
                width: 10px;
                border-right: 2px solid black;
                border-bottom: 2px solid black;
                transform: rotate(-45deg);
            }
        }

    }

    .cta-container {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        justify-content: space-evenly;

        #contact-btn {
            font-size: 14px;
            padding: 5px;
            border: 2px solid #0C64C3;
            border-radius: 18px;
            width: 100%;
            font-weight: bold;
            background-color: $background-mobile-color;
        }

        #contact-btn:hover {
            width: 100%;
            color: $text-secondary-color;
            border-radius: 24px;
            background: linear-gradient(270deg, #0063CE 0%, #002855 100%);
            cursor: pointer;
        }

        img {
            height: 20px;
            width: 24px;
        }

        p {
            margin: 5px 3px;
            font-size: 12px;
        }

        div {
            width: 100%;
            padding: 5px 0;
            box-sizing: border-box;
        }
    }
}

