.side-element-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1;
    .side-element-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;

        // img {
            
        // }

        h3 {
            color: #002855;
            font-size: 24px;
            font-weight: bold;
            line-height: 28px;
        }

        p {
            opacity: 0.8;
            color: #313131;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
        }
    }
}