
.page-container {
    &.documenti-legali{

    
    font-family: Roboto-Bold, "sans serif";

    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &.is-mobile {

    }
}
}

@import '../../components/Cardlist/cardlist.scss';