@font-face {
    font-family: 'Roboto-Bold';
    src: url('./static/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// @font-face {
// 	font-family: 'Aqua';

// 	src: url('/static/fonts/aqua.svg') format('svg'),
// 		/* Legacy iOS */ url('/static/fonts/aqua.ttf') format('truetype'),
// 		/* Safari, Android, iOS */ url('/static/fonts/aqua.woff') format('woff'),
// 		/* Modern Browsers */ url('/static/fonts/aqua.woff2') format('woff2'); /* Modern Browsers */
// 	font-weight: normal;
// 	font-style: normal;
// }
