//-------------------------------------------------------------------------------------------------------------------------
//VARIABILI
//-------------------------------------------------------------------------------------------------------------------------
$accent-color: #002855;
$background-login-color: #F1F2F8;
$background-mobile-color: #FFFFFF;
$form-border-color: #0063CC;
$text-color: #313131;
$error-color: #E30322;
