//-------------------------------------------------------------------------------------------------------------------------
//VARIABILI
//-------------------------------------------------------------------------------------------------------------------------

// colors
$accent-color: #002855;
$text-secondary-color: #F1F2F8;
$background-mobile-color: #FFFFFF;
$form-border-color: #0063CC;
$text-color: #313131;
$error-color: #E30322;
$box-highlight-color: #E9EFFD;



// dimensions

$header-height: 100px