.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    -webkit-box-flex: 1;
    position: relative;

    .input-fields {
        width: 100%;

        .container {
            width: 100%;

            .input-label {
                position: relative;
                display: block;
                color: rgba(0, 0, 0, 0.6);
                font-size: 10px;

                &.has-input {
                    .input-span {
                        opacity: 1;
                        transform: none;
                    }

                    .input-field {
                        padding: 1.4rem 0.8rem 0.34rem;
                    }
                }
            }

            input {
                height: 49px;
                border: 2px solid #0063CC;
                border-radius: 5px;
                background-color: #FFFFFF;
                margin-bottom: 15px;
                padding: 0 10px;
                width: 100%;
                box-sizing: border-box;
                font-size: 16px;

            }

            &.error {
                input {
                    border: 2px solid red;
                    margin: 0;
                }

                .error-msg-container {
                    display: flex;
                    padding-bottom: 10px;

                    img {
                        width: 32px;
                        height: auto;
                        padding: 2px;
                    }

                    p {
                        font-size: 12px;
                        line-height: 20px;
                        margin: 0;
                        color: red;
                    }
                }
            }
        }

        .input-span {
            position: absolute;
            top: 0;
            z-index: 1;
            width: 100%;
            padding: 0 0.8rem;
            margin-top: 0.2rem;
            overflow: hidden;
            font-size: 0.8rem;
            color: var(--blue);
            opacity: 0;
            transition: all 200ms ease-out;
            transform: translateY(0.4rem);
            pointer-events: none;
            user-select: none;
        }

        .input-field {
            display: block;
            width: 100%;
            // box-shadow: 0 0 0 1px #d9d9d9;
            appearance: none;
            transition: all 200ms ease-out;

            &:focus {
                box-shadow: 0 0 0 2px var(--blue); //#2a9dcc;
                outline: 0;
            }
        }

        input::-ms-reveal,
        input::-ms-clear {
            display: none;
        }

    }

}

.password-container {
    width: 100%;
    position: relative;

    .password-eye {
        position: absolute;
        right: 5px;
        bottom: 25%;

        img {
            width: 30px;
            height: auto;
            opacity: 0.6;
        }

        &.active {
            opacity: 1;
        }
    }
}

.error-msg-container {
    display: none;
}

input.error {
    flex: 3;


}