body,
html {
	height: 100%;
}
	.page-container {
		
			background-color: $text-secondary-color;
			height: 100%;

			.main-container {
				display: flex;
				justify-content: space-between;
				width: 90%;
				height: 100%;
				margin: 0 auto;

				@media only screen and (max-width: 912px) {
					padding-top: 35px;
				}

				// verificare per le safe areas
				@media only screen and (max-width: 320px) {
					padding-top: 0;
				}

			}

			.mobile-only {
				display: none !important;
			}

			.desktop-only {
				display: flex;
			}

			&.is-mobile.homepage {
				.main-container {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-evenly;
					position: fixed;
					width: 100%;
					background-color: #FFF;
					height: 100vh;

				}
			}

			&.is-mobile {
				background-color: #FFF;
				color: $accent-color;
				height: auto;
				.mobile-only {
					display: flex !important;
				}

				.desktop-only {
					display: none !important;
				}

				// .head-container {
				// 	display: flex;
				// 	justify-content: flex-end;
				// 	width: 100%;
				// 	flex: 1;
				// }

				.main-container {
					flex-direction: column;
					align-items: center;
					justify-content: space-evenly;
					position: relative;
					width: 100%;

					.buttons-container {
						padding: 15px;
						display: flex;
						justify-content: center;
				
						.btn-slider {
							// PLACEHOLDER PER IMMAGINE
							height: 8px;
							background-color: #072952;
							border-radius: 100%;
							width: 8px;
							margin: 0 4px;
							opacity: 0.15;

							&.active {
								opacity: 1;
							}
						}
					}
				}
				.login-header {
					p {
						margin: 0;
						opacity: 0.6;
						color: $accent-color;
						font-size: 14px;
						line-height: 16px;
					}
	
					h3 {
						width: 65%;
						font-size: 24px;
						line-height: 32px;
						@media screen and (max-width: 330px) {
							width: 100%;
						}
					}
				}
			}
		
	}




	@import '../../components/Head/public-header.scss';
	@import '../../components/Login-Image-Component/side-element.scss';
	@import '../../components/Login-Form/login-form.scss';
	@import '../../components/Slider/slider.scss';
	@import '../../components/Login-Mobile/login-mobile.scss';
	@import '../../components/Input-component/input.scss';
